<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <test verbose="2" preserve-order="true" name="Test1">
        <parameter name="browser" value="CHROME"/>
        <parameter name="size" value="win"/>
        <classes>
            <class name="gun_09.Task"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Test2">
        <parameter name="browser" value="CHROME"/>
        <parameter name="size" value="max"/>
        <classes>
            <class name="gun_09.Task"/>
        </classes>
    </test>
</suite>